.pitch {
  width: 800px;
  height: 500px;
  background-image: url("./images/pitch.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 50px auto;
  border: 2px solid;
}

.ball {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: none;
}

.ball img {
  width: 100%;
}
